In [41]:
import re

url = 'https://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=2030&SYEAR=2020&SSEASON=1&REPORT_ID=C'
df2 = pandas.read_html(url)
Balancesheet2 = df2[0]
Balancesheet2 = Balancesheet2.dropna()
Balancesheet2 = Balancesheet2.iloc[:,0:2]
Balancesheet2['accounting_title']= Balancesheet2.iloc[:,1]

en = []
cht = []
for i in Balancesheet2['accounting_title']:
    en_1 = "".join(j for j in i if ord(j) < 256)
    en.append(en_1)
    cht_1 = "".join(j for j in i if ord(j) > 256)
    cht.append(cht_1)
    

eni = []
for i in en:
    j = re.sub(r'^ ', '',i)
    eni.append(j)
#print(eni)

Balancesheet2['en'] = eni

cht_1 = list(map(lambda x: x.strip().replace(u'\u3000', u''),cht))

Balancesheet2['cht'] = cht_1
Balancesheet2.columns = ['code','0','1','en','cht']
Balancesheet2 = Balancesheet2.drop(['0','1'], axis = 1)
Balancesheet2.shape

(62, 3)

In [37]:
import re

url = 'https://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=2024&SYEAR=2020&SSEASON=1&REPORT_ID=A'
df = pandas.read_html(url)
Balancesheet = df[0]
Balancesheet = Balancesheet.dropna()
Balancesheet = Balancesheet.iloc[:,0:2]
Balancesheet['accounting_title']= Balancesheet.iloc[:,1]

en = []
cht = []
for i in Balancesheet['accounting_title']:
    en_1 = "".join(j for j in i if ord(j) < 256)
    en.append(en_1)
    cht_1 = "".join(j for j in i if ord(j) > 256)
    cht.append(cht_1)
    

eni = []
for i in en:
    j = re.sub(r'^ ', '',i)
    eni.append(j)
#print(eni)

Balancesheet['en'] = eni

cht_1 = list(map(lambda x: x.strip().replace(u'\u3000', u''),cht))

Balancesheet['cht'] = cht_1
Balancesheet.columns = ['code','0','1','en','cht']
Balancesheet = Balancesheet.drop(['0','1'], axis = 1)
Balancesheet.shape

(45, 3)

In [45]:
import pandas as pd
Balancesheet_code = Balancesheet2
#print(Balancesheet_code)

if Balancesheet_code.empty:
        Balancesheet_code = Balancesheet
if Balancesheet_code.shape[0] <= Balancesheet.shape[0]:
    Balancesheet_code = pandas.merge(Balancesheet, Balancesheet_code,how = 'left', on = 'code')
else:
    Balancesheet_code = pandas.merge(Balancesheet_code, Balancesheet,how = 'left', on = 'code')

Balancesheet_code

,code,en_x,cht_x,en_y,cht_y
0,1100,Cash and cash equivalents,現金及約當現金,Cash and cash equivalents,現金及約當現金
1,1110,Current financial assets at fair value through...,透過損益按公允價值衡量之金融資產－流動,NaN,NaN
2,1150,"Notes receivable, net",應收票據淨額,"Notes receivable, net",應收票據淨額
3,1170,"Accounts receivable, net",應收帳款淨額,"Accounts receivable, net",應收帳款淨額
4,1180,"Accounts receivable due from related parties, net",應收帳款－關係人淨額,NaN,NaN
...,...,...,...,...,...
57,36XX,Non-controlling interests,非控制權益,NaN,NaN
58,3XXX,Total equity,權益總計,Total equity,權益總計
59,3X2X,Total liabilities and equity,負債及權益總計,Total liabilities and equity,負債及權益總計
60,3998,Equivalent issue shares of advance receipts fo...,預收股款（權益項下）之約當發行股數,Equivalent issue shares of advance receipts fo...,預收股款（權益項下）之約當發行股數
61,3999,Number of shares in entity held by entity and ...,母公司暨子公司所持有之母公司庫藏股股數（單位：股）,Number of shares in entity held by entity and ...,母公司暨子公司所持有之母公司庫藏股股數（單位：股）

In [4]:
import pymysql

# https://www.itread01.com/content/1543496702.html 參考資料
# https://bigdatafinance.tw/index.php/tech/data-processing/500-python-mysql

def read_data(sql):
    host = '120.97.27.113'  #ip
    port = 3306  #埠號
    user = 'teb101Club'   #資料庫使用者名稱
    password = 'teb101Club'    #資料庫密碼
    db = 'twstock'    #資料庫名
    #charset = 'utf8mb4'  #編碼

    try:
        #db = pymysql.connect(host=host, port=port, user=user, password=password, db=db, charset=charset)  #開啟資料庫連線
        db = pymysql.connect(host=host, port=port, user=user, password=password, db=db)  #開啟資料庫連線
        cursor = db.cursor()  #建立遊標物件

        line = cursor.execute(sql)   #執行sql,返回行數
        data = cursor.fetchall()   #fetchall返回查詢的全部資料， 返回元組型別資料
        # data = cursor.fetchone()   #fetchone只獲取一條資料， 返回元組型別資料
        # print(line)
        return data
        # print(data)

    except Exception as msg:
        print(msg)
    finally:
        cursor.close()  #關掉遊標
        db.close()  #關掉資料庫連線


if __name__ == '__main__':
    sql = "SELECT sID FROM stock_info"  # 資料庫語句
    sID_tuple = read_data(sql) #返回tuple

In [2]:
url_list = []
for sID in sID_tuple:
    if sID[0] in [1413, 1414, 1423, 1438, 1456, 1516, 1527, 1540]:
        rid = 'A'
    else:
        rid = 'C'
    #print(sID[0])
    for Q in range(1,5):
        for year in range(2019,2021):
            _url='https://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID={}&SYEAR={}&SSEASON={}&REPORT_ID={}'
            if year == 2020:
                _url = _url.format(sID[0], year, 1, rid)
                #session = request.get(url.format())
            else:
                _url = _url.format(sID[0], year, Q , rid)
            url_list.append(_url)

In [5]:
# test
# import pandas as pd
# Balancesheet_code = pd.DataFrame()
# #print(Balancesheet_code)

# if Balancesheet_code.empty:
#         Balancesheet_code = Balancesheet
# if Balancesheet_code.shape[0] <= Balancesheet.shape[0]:
#     Balancesheet_code = pandas.merge(Balancesheet, Balancesheet_code,how = 'left', on = 'code')
# else:
#     Balancesheet_code = pandas.merge(Balancesheet_code, Balancesheet,how = 'left', on = 'code')

# Balancesheet_code

In [11]:
import pandas as pd
import re
import time


# reference: https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html

Balancesheet_code = pd.DataFrame()
for i in url_list[:100]:
    print(i)
    print(i.split('&')[2].split('=')[1])
    df = pd.read_html(i)
    Balancesheet = df[0]
    Balancesheet = Balancesheet.dropna()
    Balancesheet = Balancesheet.iloc[:,0:2]
    Balancesheet['accounting_title']= Balancesheet.iloc[:,1]

    en = []
    cht = []
    for i in Balancesheet['accounting_title']:
        en_1 = "".join(j for j in i if ord(j) < 256)
        en.append(en_1)
        cht_1 = "".join(j for j in i if ord(j) > 256)
        cht.append(cht_1)


    eni = []
    for i in en:
        j = re.sub(r'^ ', '',i)
        eni.append(j)
    #print(eni)

    Balancesheet['en'] = eni

    cht_1 = list(map(lambda x: x.strip().replace(u'\u3000', u''),cht))
    cht_1
    Balancesheet['cht'] = cht_1
    Balancesheet.columns = ['code','0','1','en','cht']
    Balancesheet = Balancesheet.drop(['0','1'], axis = 1)
    if Balancesheet_code.empty:
        Balancesheet_code = Balancesheet
    if Balancesheet_code.shape[0] <= Balancesheet.shape[0]:
        Balancesheet_code = pd.merge(Balancesheet, Balancesheet_code,how = 'left', on = 'code')
    else:
        Balancesheet_code = pd.merge(Balancesheet_code, Balancesheet,how = 'left', on = 'code')
      
    time.sleep(5)

https://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=1101&SYEAR=2019&SSEASON=1&REPORT_ID=C
2019
https://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=1101&SYEAR=2020&SSEASON=1&REPORT_ID=C
2020
https://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=1101&SYEAR=2019&SSEASON=2&REPORT_ID=C
2019
https://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=1101&SYEAR=2020&SSEASON=1&REPORT_ID=C
2020
https://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=1101&SYEAR=2019&SSEASON=3&REPORT_ID=C
2019
https://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=1101&SYEAR=2020&SSEASON=1&REPORT_ID=C
2020
https://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=1101&SYEAR=2019&SSEASON=4&REPORT_ID=C
2019
https://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=1101&SYEAR=2020&SSEASON=1&REPORT_ID=C
2020
https://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=1102&SYEAR=2019&SSEASON=1&REPORT_ID=C
2019
https://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=1102&SYEAR=2020&SSEASON=1&REPORT_ID=C
2020
https://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=1102&SYEAR=2019&SSEASON=2&REPORT_ID=C
2019
https://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=1102&SYEAR=2020&SSEASON=1&REPORT_ID=C
2020
https://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=1102&SYEAR=2019&SSEASON=3&REPORT_ID=C
2019

IndexError: single positional indexer is out-of-bounds

In [9]:
Balancesheet_code.iloc[:,:3].to_csv('balancesheet_code.csv', index = False)

In [20]:
# import to mysql
Balancesheet_code = pd.read_csv('balancesheet_code.csv')
Balancesheet_code.columns = ['code', 'en', 'cht']
Balancesheet_code

,code,en,cht
0,1100,Cash and cash equivalents,現金及約當現金
1,1110,Current financial assets at fair value through...,透過損益按公允價值衡量之金融資產－流動
2,1120,Current financial assets at fair value through...,透過其他綜合損益按公允價值衡量之金融資產－流動
3,1150,"Notes receivable, net",應收票據淨額
4,1170,"Accounts receivable, net",應收帳款淨額
...,...,...,...
67,36XX,Non-controlling interests,非控制權益
68,3XXX,Total equity,權益總計
69,3X2X,Total liabilities and equity,負債及權益總計
70,3998,Equivalent issue shares of advance receipts fo...,預收股款（權益項下）之約當發行股數
71,3999,Number of shares in entity held by entity and ...,母公司暨子公司所持有之母公司庫藏股股數（單位：股）

In [21]:
import sqlalchemy
from sqlalchemy import create_engine

def sqlcol(dfparam):    
    dtypedict = {}
    for i,j in zip(dfparam.columns, dfparam.dtypes):
        if "object" in str(j):
            dtypedict.update({i: sqlalchemy.types.NVARCHAR(length=200)})

        if "datetime" in str(j):
            dtypedict.update({i: sqlalchemy.types.DATE()})

        if "float" in str(j):
            dtypedict.update({i: sqlalchemy.types.Float(precision=2, asdecimal=True)})

        if "int" in str(j):
            dtypedict.update({i: sqlalchemy.types.INT()})
            
        if "int64" in str(j):
            dtypedict.update({i: sqlalchemy.types.BIGINT()})
            
    return dtypedict

outputdict = sqlcol(Balancesheet_code)
outputdict

engine = create_engine("mysql+pymysql://teb101Club:teb101Club@120.97.27.113:3306/twstock??charset=utf8mb4", max_overflow=5)

Balancesheet_code.to_sql('balancesheet_code', engine, schema='twstock',if_exists='append',index= False, dtype=outputdict, chunksize = 1000)

C:\ProgramData\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1366, "Incorrect string value: '\\xA5x\\xA5_\\xBC\\xD0...' for column 'VARIABLE_VALUE' at row 1")
  result = self._query(query)