In [31]:
import pandas as pd
import numpy as np
import json

In [32]:
data=json.load(open('2019Q1/9958-2019-Q1.json'))['data']

In [95]:
#print(data[0]['Balance'])
df=pd.DataFrame(data[0]['Balance'])
df

,code,en,cht,value
0,,Assets,資產,
1,,Current assets,流動資產,
2,1100,Cash and cash equivalents,現金及約當現金,2742385
3,1136,Current financial assets at amortised cost,按攤銷後成本衡量之金融資產－流動,51478
4,1140,Current contract assets,合約資產－流動,954417
...,...,...,...,...
64,36XX,Non-controlling interests,非控制權益,1195359
65,3XXX,Total equity,權益總計,4939855
66,3X2X,Total liabilities and equity,負債及權益總計,10325622
67,3998,Equivalent issue shares of advance receipts fo...,預收股款（權益項下）之約當發行股數,0
68,3999,Number of shares in entity held by entity and ...,母公司暨子公司所持有之母公司庫藏股股數（單位：股）,0

In [96]:
#print(data[1]['ProfitLoss'])
df=pd.DataFrame(data[1]['ProfitLoss'])
df

,code,en,cht,value
0,,Operating revenue,營業收入,
1,4000,Total operating revenue,營業收入合計,400826
2,,Operating costs,營業成本,
3,5000,Total operating costs,營業成本合計,336566
4,5900,Gross profit (loss) from operations,營業毛利（毛損）,64260
5,5950,Gross profit (loss) from operations,營業毛利（毛損）淨額,64260
6,,Operating expenses,營業費用,
7,6100,Selling expenses,推銷費用,3646
8,6200,Administrative expenses,管理費用,32838
9,6450,Impairment loss (impairment gain and reversal ...,預期信用減損損失(利益),(4765)
10,6000,Total operating expenses,營業費用合計,31719
11,6900,Net operating income (loss),營業利益（損失）,32541
12,,Non-operating income and expenses,營業外收入及支出,
13,,Other income,其他收入,
14,7010,Total other income,其他收入合計,2151
15,,Other gains and losses,其他利益及損失,
16,7020,"Other gains and losses, net",其他利益及損失淨額,(773)
17,,Finance costs,財務成本,
18,7050,"Finance costs, net",財務成本淨額,19750
19,,Share of profit (loss) of associates and joint...,採用權益法認列之關聯企業及合資損益之份額,
20,7060,Share of profit (loss) of associates and joint...,採用權益法認列之關聯企業及合資損益之份額淨額,282
21,7000,Total non-operating income and expenses,營業外收入及支出合計,(18090)
22,7900,Profit (loss) from continuing operations befor...,繼續營業單位稅前淨利（淨損）,14451
23,,Tax expense (income),所得稅費用（利益）,
24,7950,Total tax expense (income),所得稅費用（利益）合計,7965
25,8000,Profit (loss) from continuing operations,繼續營業單位本期淨利（淨損）,6486
26,8200,Profit (loss),本期淨利（淨損）,6486
27,,Other comprehensive income,其他綜合損益(淨額),
28,,Components of other comprehensive income that ...,後續可能重分類至損益之項目,
29,8361,Exchange differences on translation,國外營運機構財務報表換算之兌換差額,11345
30,8360,Components of other comprehensive income that ...,後續可能重分類至損益之項目總額,11345
31,8300,"Other comprehensive income, net",其他綜合損益（淨額）,11345
32,8500,Total comprehensive income,本期綜合損益總額,17831
33,,"Profit (loss), attributable to:",淨利（損）歸屬於：,
34,8610,"Profit (loss), attributable to owners of parent",母公司業主（淨利／損）,14385
35,8620,"Profit (loss), attributable to non-controlling...",非控制權益（淨利／損）,(7899)
36,,Comprehensive income attributable to:,綜合損益總額歸屬於：,
37,8710,"Comprehensive income, attributable to owners o...",母公司業主（綜合損益）,21034
38,8720,"Comprehensive income, attributable to non-cont...",非控制權益（綜合損益）,(3203)
39,,Basic earnings per share,基本每股盈餘,
40,9750,Total basic earnings per share,基本每股盈餘合計,0.07
41,,Diluted earnings per share,稀釋每股盈餘,
42,9850,Total diluted earnings per share,稀釋每股盈餘合計,0.07

In [33]:
#print(data[2]['CashFlows'])
df=pd.DataFrame(data[2]['CashFlows'])
df

,code,en,cht,value
0,,Cash flows from (used in) operating activities...,營業活動之現金流量－間接法,
1,A00010,Profit (loss) from continuing operations befor...,繼續營業單位稅前淨利（淨損）,14451
2,A10000,Profit (loss) before tax,本期稅前淨利（淨損）,14451
3,,Adjustments,調整項目,
4,,Adjustments to reconcile profit (loss),收益費損項目,
...,...,...,...,...
58,DDDD,Effect of exchange rate changes on cash and ca...,匯率變動對現金及約當現金之影響,118
59,EEEE,Net increase (decrease) in cash and cash equiv...,本期現金及約當現金增加（減少）數,(554822)
60,E00100,Cash and cash equivalents at beginning of period,期初現金及約當現金餘額,3297207
61,E00200,Cash and cash equivalents at end of period,期末現金及約當現金餘額,2742385
62,E00210,Cash and cash equivalents reported in the stat...,資產負債表帳列之現金及約當現金,2742385

In [57]:
df=pd.read_csv('2020Q1SES/1533-2020-Q1.csv')
df=df.set_index('items')
df

,3110,3100,3200,3310,3320,3350,3300,3410,3420,3400,31XX,36XX,3XXX
items,,,,,,,,,,,,,
A1,985475,985475,271213,344199,224040,925073,1493312,-123586,-155007,-278593,2471407,221437,2692844
D1,0,0,0,0,0,10439,10439,0,0,0,10439,-22545,-12106
D3,0,0,0,0,0,0,0,-16027,-9082,-25109,-25109,0,-25109
D5,0,0,0,0,0,10439,10439,-16027,-9082,-25109,-14670,-22545,-37215
M5,0,0,0,0,0,-6736,-6736,0,0,0,-6736,0,-6736
M7,0,0,44896,0,0,0,0,0,0,0,44896,0,44896
O1,0,0,0,0,0,0,0,0,0,0,0,73721,73721
Y1,0,0,44896,0,0,3703,3703,-16027,-9082,-25109,23490,51176,74666
Z1,985475,985475,316109,344199,224040,928776,1497015,-139613,-164089,-303702,2494897,272613,2767510

In [56]:
data=json.load(open('2020Q1SES/1533-2020-Q1.json'))
code4=data.get('code4')
#print(code4)
df=pd.DataFrame.from_dict(code4, orient='index')
df

,cht,en
3110,普通股股本,Ordinary share
3100,股本合計,Total share capital
3200,資本公積,Capital surplus
3310,法定盈餘公積,Legal reserve
3320,特別盈餘公積,Special reserve
3350,未分配盈餘（或待彌補虧損）,Unappropriated retained earnings (accumulated ...
3300,保留盈餘合計,Total retained earnings
3410,國外營運機構財務報表換算之兌換差額,Exchange differences on translation of foreign...
3420,透過其他綜合損益按公允價值衡量之金融資產未實現評價(損)益,Unrealised gains (losses) on financial assets ...
3400,其他權益項目合計,Total other equity interest
31XX,歸屬於母公司業主之權益總計,Total equity attributable to owners of parent
36XX,非控制權益,Non-controlling interests
3XXX,權益總額,Total equity

In [55]:
data=json.load(open('2020Q1SES/1533-2020-Q1.json'))
index2=data.get('index2')
#print(code4)
df=pd.DataFrame.from_dict(index2, orient='index')
df

                      cht                                                 en
A1                   期初餘額                      Equity at beginning of period
D1               本期淨利（淨損）                                      Profit (loss)
D3               本期其他綜合損益                         Other comprehensive income
D5               本期綜合損益總額                         Total comprehensive income
M5  實際取得或處分子公司股權價格與帳面價值差額  Difference between consideration and carrying ...
M7            對子公司所有權權益變動     Changes in ownership interests in subsidiaries
O1                非控制權益增減               Changes in non-controlling interests
Y1             權益增加(減少)總額                Total increase (decrease) in equity
Z1                   期末餘額                            Equity at end of period