In [8]:
import requests
from requests.adapters import HTTPAdapter
from bs4 import BeautifulSoup as bs4
import re
import pandas as pd
import numpy as np
import json

class MOPS_ALL_2019(object):
    
    def __init__(self, sid, year, season, rid):
        self.sid=sid
        self.year=year
        self.season=season
        self.rid=rid
        keyword={'sid':self.sid, 'y':self.year, 's':self.season, 'rid':self.rid}
        self.header= {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.106 Safari/537.36'}
        self.url='https://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID={sid}&SYEAR={y}&SSEASON={s}&REPORT_ID={rid}'.format(**keyword)
        self.get_tbl()
        
    def fetchall(self):
        self.fetch_BS()
        self.fetch_PLS()
        self.fetch_CFS()
        #self.fetch_SES()
        self.jsondata = {'data': [self.Balance, self.ProfitLoss , self.CashFlows]}
        
        return self.jsondata        
    
    def get_tbl(self):
        web_ss = requests.session()
        ss_adapter = HTTPAdapter(max_retries=3)
        web_ss.mount("https://", adapter=ss_adapter)
        res = web_ss.get(url=self.url, headers=self.header, timeout=5)
        res.encoding = 'big5'
        try:
            if res.status_code == 200:
                #soup = bs4(res.text, "lxml")
                soup = bs4(res.text, "html.parser")
                self.tables = soup.select('table')
        except Exception as e:
            print(e)
            
        return self.tables
            
            
    def fetch_BS(self, Ntable=0):
        start= len(stock.tables[Ntable].select('th'))
        k=start-3          
        code = self.tables[Ntable].select('td')
        
        code_list=[]

        for _code in code:
            try:
                if (_code['style'])!='':
                    code_list.append(_code.text)
            except:
                pass
        #print(code_list)

        cht = self.tables[Ntable].select('span.zh')
        en = self.tables[Ntable].select('span.en')
        amt = self.tables[Ntable].select('td.amt')

        #print(code)
        #print(len(cht[start:]), len(amt)/k)
        #df_cht, df_eng = {} , {}

        Balance_list=[]
        j=0
        for i, _amt in enumerate(amt):

            if i%k==0:
                #print(i, _amt.text)
                #balance_list[code_list[j]]= [{'cht':cht[6+j].text.strip(),'value':_amt.text.strip().replace(',','')}]
                Balance_list.append({'code':code_list[j], 'en':en[start+j].text.strip(), 'cht':cht[start+j].text.strip()
                                      ,'value':_amt.text.strip().replace(',','')})
                j+=1
        if len(code_list)!=len(Balance_list):
            print('length is not matched--BS!!:')      
        #print(self.Balance)
        self.Balance={'Balance':Balance_list}
        return self.Balance
        
    def fetch_PLS(self, Ntable=1):
        start= len(stock.tables[Ntable].select('th'))
        k=start-3
        #print(start, k)
        code = self.tables[Ntable].select('td')
        code_list=[]

        for _code in code:
            try:
                if (_code['style'])!='':
                    code_list.append(_code.text)

            except:
                pass
        #print(code_list, len(code_list))

        cht = self.tables[Ntable].select('span.zh')
        en = self.tables[Ntable].select('span.en')
        amt = self.tables[Ntable].select('td.amt')
        

        ProfitLoss_list=[]
        j=0
        for i, _amt in enumerate(amt):
            if i%k==0:
                ProfitLoss_list.append({'code':code_list[j], 'en':en[start+j].text.strip(), 'cht':cht[start+j].text.strip(),
                                      'value':_amt.text.strip().replace(',','')})
                j+=1
                #print(i, _amt.text)
        
        if len(code_list)!=len(ProfitLoss_list):
            print('length is not matched--PLS!!:')
           
           
        self.ProfitLoss={'ProfitLoss':ProfitLoss_list}

        return self.ProfitLoss
        
    def fetch_CFS(self, Ntable = 2):
        start= len(stock.tables[Ntable].select('th'))
        k=start-3
        
        code = self.tables[Ntable].select('td')
        code_list=[]

        for _code in code:
            try:
                if (_code['style'])!='':
                    code_list.append(_code.text)
            except:
                pass
        #print(code_list)

        cht = self.tables[Ntable].select('span.zh')
        en = self.tables[Ntable].select('span.en')
        amt = self.tables[Ntable].select('td.amt')

        #print(code)

        #print(len(cht[start:]), len(amt)/2)

        CashFlows_list=[]
        j=0
        for i, _amt in enumerate(amt):

            if i%k==0:
                CashFlows_list.append({'code':code_list[j], 'en':en[start+j].text.strip(), 'cht':cht[start+j].text.strip(),
                                      'value':_amt.text.strip().replace(',','')})
                j+=1
        
           
        if len(code_list)!=len(CashFlows_list):
            print('length is not matched--CFS!!:') 
        self.CashFlows={'CashFlows':CashFlows_list}  
        
        
        return self.CashFlows
        
        
    def fetch_SES(self, Ntable = 3):
        #start= len(stock.tables[Ntable].select('th'))
        #k=start-3

        Etable = self.tables[Ntable]
        #print(Etable)

        td=Etable.select('td')

        CI=[]
        for _td in td:
            if re.findall('^[A-Z][0-9]', _td.text.strip()) !=[]:
                CI.append(re.findall('^[A-Z][0-9]', _td.text.strip()))
                #print(code_index[0])


        th=Etable.select('th')
        cht = Etable.select('span.zh')
        en = Etable.select('span.en')
        amt = Etable.select('td.amt')

        #code4=[]
        self.code4={}

        j=1
        for _th in th:
            if re.findall('^3.+', _th.text.strip()) !=[]:
                self.code4[_th.text.strip()]={'cht': cht[j].text.strip(),'en':en[j].text.strip()}
                j+=1
        #print(code4)
        #print(code4.keys())

        #index=[]
        self.index2={}
        for _cht, _en, _CI in zip(cht[j:], en[j:], CI):
            #index.append({'code_index':_CI[0],'cht_index':_cht.text.strip(), 'en_index': _en.text.strip()})
            self.index2[_CI[0]]={'cht': _cht.text.strip(),'en': _en.text.strip()}
            #print(code_index)
            #print(cht_index)
            #print(en_index)               
        #print(index2)
        #print(index2.keys())

        k1= len(self.code4)
        k2= len(self.index2.keys())
 
        #for _amt in amt:
        #    print(_amt.text)
        amt_row= [[] for x in range(k2)]

        j=0
        for i, _amt in enumerate(amt):
            #print(i, _amt.text)
            if i==0 or i % k1!= 0:
                amt_row[j].append(_amt.text.strip().replace(',','').replace('(','-').replace(')',''))
                #print(amt_row[j])
            else:
                j+=1
                if j<k2:
                    amt_row[j].append(_amt.text.strip().replace(',','').replace('(','-').replace(')',''))
                else:
                    break
                    
        #print(amt_row)

        self.df=pd.DataFrame(columns=self.code4.keys())
        self.df=pd.DataFrame(np.array(amt_row),columns=self.code4.keys())
        self.df['items']=self.index2.keys()
        self.df.set_index('items', inplace=True) 
        self.Account={'code4':self.code4, 'index2':self.index2}
        return self.df

# Fetch DATA

In [ ]:
import os
import time
import random
from requests.exceptions import ConnectionError
from codes import codes


def dlcheck(path):
    filename=os.listdir(path)
    code_cap=[]
    for _file in filename:
        code_cap.append(_file[0:4])
    return code_cap

year='2020'
season='1'
path=year+'Q'+season
csvpath=year+'Q'+season+'SES'

if not os.path.exists(path):
    os.mkdir(path)

if not os.path.exists(csvpath):
    os.mkdir(csvpath)

#取得兩個資料夾的交集，以便確認是否抓過
code_cap=set(dlcheck(path)) & set(dlcheck(csvpath))
#print(code_cap)


for code,v in codes.items():
    if v.type=="股票" and v.market=="上市":
        try:
            if code not in code_cap:
                rid='C'           
                stock=MOPS_ALL_2019(code,year,season,rid)

                if stock.tables == []:
                    rid = 'A'
                    stock=MOPS_ALL_2019(code,year,season,rid)
                             
                if stock.tables != []:
                    
                    print('fetch BS, PLS and CFS from:' ,stock.url)
                    data = stock.fetchall()
                    filename=path+'/'+code+'-'+year+'-'+'Q'+season+'.json'
                    with open(filename, 'w', encoding='utf8') as f:
                        json.dump(data, f)
                    
                    
                    print('fetch SES from:' ,stock.url)
                    df = stock.fetch_SES()
                    csvname=csvpath+'/'+code+'-'+year+'-'+'Q'+season+'.csv'
                    df.to_csv(csvname)
                    jsonname=csvpath+'/'+code+'-'+year+'-'+'Q'+season+'.json'
                    with open(jsonname, 'w', encoding='utf8') as f:
                        json.dump(stock.Account, f)
                        
                        
                else:
                    print('error-nodata:', code) 
                    with open('error.log', 'a+') as f:   
                        f.write('nodata:'+ code+':' + stock.url+'\n')
                time.sleep(random.uniform(2,5))             
                
        except ConnectionError:
            code_cap=dlcheck(path)
            time.sleep(120)
            continue
print('download finished!')

{'2832', '2462', '2607', '2390', '2380', '1702', '2528', '1714', '1234', '2496', '1235', '1449', '2851', '2375', '1605', '2476', '2303', '1301', '1476', '1723', '1711', '1795', '2376', '2002', '2472', '1103', '2939', '2491', '2723', '1307', '2633', '2484', '1445', '2936', '1717', '2327', '1507', '2347', '2459', '1213', '1441', '1773', '2020', '1102', '1513', '2105', '2393', '2613', '2412', '2354', '2809', '2227', '2430', '1312', '2616', '2363', '2617', '2314', '2890', '1734', '2207', '1612', '2426', '2701', '1474', '2033', '2415', '1535', '2884', '2392', '1909', '2465', '1905', '1506', '2850', '1760', '2480', '1434', '2836', '2342', '2509', '1323', '1459', '1537', '1589', '2201', '2349', '2614', '2615', '2605', '1475', '1762', '2408', '1733', '1409', '2233', '2427', '2377', '2461', '2466', '2024', '1477', '2104', '2387', '1439', '2439', '1454', '3005', '2483', '2009', '1416', '1583', '2535', '2364', '2855', '3006', '2014', '2324', '2007', '2069', '2062', '1219', '1310', '2929', '2889', '1904', '1611', '1463', '1536', '2630', '2609', '2540', '2317', '2739', '2425', '2505', '2228', '2606', '2816', '2845', '1582', '2495', '1532', '2433', '2365', '2328', '1457', '1321', '1707', '1473', '1517', '1516', '1810', '2516', '1324', '2231', '2455', '2506', '2434', '2530', '1316', '1806', '2612', '1783', '1817', '2114', '1305', '2243', '2108', '2049', '1525', '1256', '2892', '2891', '1529', '2402', '1231', '1465', '1722', '1418', '1436', '1618', '1805', '2610', '2331', '1104', '2886', '2404', '1233', '1615', '1337', '2904', '2420', '2429', '2515', '2373', '1341', '1210', '2012', '2702', '2486', '1314', '1468', '2451', '1530', '2881', '1712', '2706', '2722', '2883', '2406', '2489', '2547', '1464', '2454', '2537', '1304', '1533', '2908', '1568', '3002', '2360', '2330', '1308', '2436', '2497', '1225', '1528', '1471', '2498', '2413', '1614', '2731', '1708', '1432', '1710', '1220', '2841', '1435', '2458', '2383', '1217', '2438', '2897', '1455', '2409', '2923', '1442', '1417', '1419', '1340', '2329', '2359', '1590', '2374', '1443', '2882', '1514', '2351', '1598', '1907', '1229', '2705', '1466', '2302', '1701', '1737', '1319', '1727', '2748', '2115', '2440', '1526', '1453', '2442', '2488', '3003', '1504', '2867', '2511', '1603', '2449', '2482', '1735', '1460', '1809', '2038', '2323', '1538', '2611', '1414', '2034', '2812', '2727', '2312', '2546', '1626', '1438', '1326', '1215', '1592', '2493', '1524', '2399', '2910', '1413', '1446', '2636', '2704', '2239', '1451', '1617', '1236', '1325', '1802', '1789', '1808', '2443', '1467', '1218', '1539', '1604', '2348', '2597', '2368', '1906', '2492', '2885', '1721', '1519', '1731', '2414', '2852', '2838', '1201', '2355', '1730', '2208', '2421', '2419', '2367', '1718', '2524', '2103', '2444', '2369', '1452', '1503', '2388', '2707', '1521', '2906', '1216', '2542', '2405', '1558', '2424', '2634', '2913', '1786', '2017', '2059', '2431', '1531', '1456', '2107', '2013', '2321', '2313', '2823', '2520', '1470', '2601', '2801', '1108', '2887', '1609', '1541', '2450', '2911', '1315', '2029', '2441', '1339', '2820', '2358', '2008', '2637', '2332', '2316', '2545', '2344', '1720', '2305', '2102', '3008', '2467', '2456', '2485', '2912', '2382', '2379', '2608', '2880', '2010', '2417', '1713', '1410', '2027', '1903', '2385', '2448', '2340', '2474', '2101', '2534', '2603', '1776', '2031', '1110', '2501', '2371', '2464', '2023', '2481', '2032', '2712', '2356', '2514', '3011', '2337', '1512', '2025', '2401', '2527', '2538', '2397', '1587', '1402', '1313', '1560', '2536', '1437', '2345', '1732', '2015', '2834', '2352', '1303', '2548', '2468', '2236', '3010', '2357', '1109', '2618', '2901', '1232', '2888', '1472', '1709', '1227', '2106', '2849', '2006', '1608', '1309', '1101', '1423', '2478', '2030', '2028', '2905', '2504', '1440', '2301', '2477', '1522', '2109', '1540', '2308', '1515', '2460', '2022', '1736', '2423', '1726', '2338', '2903', '1527', '2642', '2362', '2539', '2353', '2428', '1724', '1444', '2471', '2915', '2453', '2204', '1203', '1616', '2206', '2543', '2457', '1338', '1725', '1447', '2395', '3004'}
error-nodata: 2499
fetch BS, PLS and CFS from: https://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=3013&SYEAR=2020&SSEASON=1&REPORT_ID=C
fetch SES from: https://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=3013&SYEAR=2020&SSEASON=1&REPORT_ID=C
fetch BS, PLS and CFS from: https://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=3014&SYEAR=2020&SSEASON=1&REPORT_ID=C
fetch SES from: https://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=3014&SYEAR=2020&SSEASON=1&REPORT_ID=C
fetch BS, PLS and CFS from: https://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=3015&SYEAR=2020&SSEASON=1&REPORT_ID=C
fetch SES from: https://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=3015&SYEAR=2020&SSEASON=1&REPORT_ID=C
fetch BS, PLS and CFS from: https://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=3016&SYEAR=2020&SSEASON=1&REPORT_ID=C
fetch SES from: https://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=3016&SYEAR=2020&SSEASON=1&REPORT_ID=C
fetch BS, PLS and CFS from: https://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=3017&SYEAR=2020&SSEASON=1&REPORT_ID=C
fetch SES from: https://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=3017&SYEAR=2020&SSEASON=1&REPORT_ID=C
fetch BS, PLS and CFS from: https://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=3018&SYEAR=2020&SSEASON=1&REPORT_ID=C
fetch SES from: https://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=3018&SYEAR=2020&SSEASON=1&REPORT_ID=C
fetch BS, PLS and CFS from: https://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=3019&SYEAR=2020&SSEASON=1&REPORT_ID=C
fetch SES from: https://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=3019&SYEAR=2020&SSEASON=1&REPORT_ID=C
fetch BS, PLS and CFS from: https://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=3021&SYEAR=2020&SSEASON=1&REPORT_ID=C
fetch SES from: https://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=3021&SYEAR=2020&SSEASON=1&REPORT_ID=C
fetch BS, PLS and CFS from: https://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=3022&SYEAR=2020&SSEASON=1&REPORT_ID=C
fetch SES from: https://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=3022&SYEAR=2020&SSEASON=1&REPORT_ID=C
fetch BS, PLS and CFS from: https://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=3023&SYEAR=2020&SSEASON=1&REPORT_ID=C
fetch SES from: https://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=3023&SYEAR=2020&SSEASON=1&REPORT_ID=C
fetch BS, PLS and CFS from: https://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=3024&SYEAR=2020&SSEASON=1&REPORT_ID=C
fetch SES from: https://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=3024&SYEAR=2020&SSEASON=1&REPORT_ID=C
fetch BS, PLS and CFS from: https://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=3025&SYEAR=2020&SSEASON=1&REPORT_ID=C
fetch SES from: https://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=3025&SYEAR=2020&SSEASON=1&REPORT_ID=C
fetch BS, PLS and CFS from: https://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=3026&SYEAR=2020&SSEASON=1&REPORT_ID=C
fetch SES from: https://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=3026&SYEAR=2020&SSEASON=1&REPORT_ID=C
fetch BS, PLS and CFS from: https://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=3027&SYEAR=2020&SSEASON=1&REPORT_ID=C
fetch SES from: https://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=3027&SYEAR=2020&SSEASON=1&REPORT_ID=C
fetch BS, PLS and CFS from: https://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=3028&SYEAR=2020&SSEASON=1&REPORT_ID=C
fetch SES from: https://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=3028&SYEAR=2020&SSEASON=1&REPORT_ID=C
fetch BS, PLS and CFS from: https://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=3029&SYEAR=2020&SSEASON=1&REPORT_ID=C
fetch SES from: https://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=3029&SYEAR=2020&SSEASON=1&REPORT_ID=C
fetch BS, PLS and CFS from: https://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=3030&SYEAR=2020&SSEASON=1&REPORT_ID=C
fetch SES from: https://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=3030&SYEAR=2020&SSEASON=1&REPORT_ID=C
fetch BS, PLS and CFS from: https://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=3031&SYEAR=2020&SSEASON=1&REPORT_ID=C
fetch SES from: https://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=3031&SYEAR=2020&SSEASON=1&REPORT_ID=C

fetch BS, PLS and CFS from: https://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=3032&SYEAR=2020&SSEASON=1&REPORT_ID=C
fetch SES from: https://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=3032&SYEAR=2020&SSEASON=1&REPORT_ID=C
fetch BS, PLS and CFS from: https://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=3033&SYEAR=2020&SSEASON=1&REPORT_ID=C
fetch SES from: https://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=3033&SYEAR=2020&SSEASON=1&REPORT_ID=C
fetch BS, PLS and CFS from: https://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=3034&SYEAR=2020&SSEASON=1&REPORT_ID=C
fetch SES from: https://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=3034&SYEAR=2020&SSEASON=1&REPORT_ID=C
fetch BS, PLS and CFS from: https://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=3035&SYEAR=2020&SSEASON=1&REPORT_ID=C
fetch SES from: https://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=3035&SYEAR=2020&SSEASON=1&REPORT_ID=C
fetch BS, PLS and CFS from: https://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=3036&SYEAR=2020&SSEASON=1&REPORT_ID=C
fetch SES from: https://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=3036&SYEAR=2020&SSEASON=1&REPORT_ID=C
fetch BS, PLS and CFS from: https://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=3037&SYEAR=2020&SSEASON=1&REPORT_ID=C
fetch SES from: https://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=3037&SYEAR=2020&SSEASON=1&REPORT_ID=C
fetch BS, PLS and CFS from: https://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=3038&SYEAR=2020&SSEASON=1&REPORT_ID=C
fetch SES from: https://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=3038&SYEAR=2020&SSEASON=1&REPORT_ID=C
fetch BS, PLS and CFS from: https://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=3040&SYEAR=2020&SSEASON=1&REPORT_ID=C
fetch SES from: https://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=3040&SYEAR=2020&SSEASON=1&REPORT_ID=C
fetch BS, PLS and CFS from: https://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=3041&SYEAR=2020&SSEASON=1&REPORT_ID=C
fetch SES from: https://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=3041&SYEAR=2020&SSEASON=1&REPORT_ID=C
fetch BS, PLS and CFS from: https://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=3042&SYEAR=2020&SSEASON=1&REPORT_ID=C
fetch SES from: https://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=3042&SYEAR=2020&SSEASON=1&REPORT_ID=C
fetch BS, PLS and CFS from: https://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=3043&SYEAR=2020&SSEASON=1&REPORT_ID=C
fetch SES from: https://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=3043&SYEAR=2020&SSEASON=1&REPORT_ID=C
fetch BS, PLS and CFS from: https://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=3044&SYEAR=2020&SSEASON=1&REPORT_ID=C
fetch SES from: https://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=3044&SYEAR=2020&SSEASON=1&REPORT_ID=C
fetch BS, PLS and CFS from: https://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=3045&SYEAR=2020&SSEASON=1&REPORT_ID=C
fetch SES from: https://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=3045&SYEAR=2020&SSEASON=1&REPORT_ID=C
fetch BS, PLS and CFS from: https://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=3046&SYEAR=2020&SSEASON=1&REPORT_ID=C
fetch SES from: https://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=3046&SYEAR=2020&SSEASON=1&REPORT_ID=C
fetch BS, PLS and CFS from: https://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=3047&SYEAR=2020&SSEASON=1&REPORT_ID=C
fetch SES from: https://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=3047&SYEAR=2020&SSEASON=1&REPORT_ID=C
fetch BS, PLS and CFS from: https://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=3048&SYEAR=2020&SSEASON=1&REPORT_ID=C
fetch SES from: https://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=3048&SYEAR=2020&SSEASON=1&REPORT_ID=C
fetch BS, PLS and CFS from: https://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=3049&SYEAR=2020&SSEASON=1&REPORT_ID=C
fetch SES from: https://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=3049&SYEAR=2020&SSEASON=1&REPORT_ID=C
fetch BS, PLS and CFS from: https://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=3050&SYEAR=2020&SSEASON=1&REPORT_ID=C
fetch SES from: https://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=3050&SYEAR=2020&SSEASON=1&REPORT_ID=C
fetch BS, PLS and CFS from: https://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=3051&SYEAR=2020&SSEASON=1&REPORT_ID=C
fetch SES from: https://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=3051&SYEAR=2020&SSEASON=1&REPORT_ID=C
fetch BS, PLS and CFS from: https://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=3052&SYEAR=2020&SSEASON=1&REPORT_ID=C
fetch SES from: https://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=3052&SYEAR=2020&SSEASON=1&REPORT_ID=C

# Check ALL

In [ ]:
#path='AllRpt'
year='2019'
season='4'
rid='C'
code='1101'

#path='AllRpt'
path=year+'Q'+season

if not os.path.exists(path):
    os.mkdir(path)
code_cap=dlcheck(path)


stock=MOPS_ALL_2019(code,year,season,rid)
filename=path+'/'+code+'-'+year+'-'+'Q'+season+'.json'
print('get data from:' ,stock.url)
data = stock.fetchall()
with open(filename, 'w', encoding='utf8') as f:
    json.dump(data, f)

#stock.tables[1]

data=json.load(open(filename))['data']
#print(data[1]['ProfitLoss'])
df=pd.DataFrame(data[1]['ProfitLoss'])
df

# Equity Check

In [5]:
import os

year='2019'
season='3'
rid='C'
code='1101'

csvpath=year+'Q'+season+'SES'

if not os.path.exists(csvpath):
    os.mkdir(csvpath)

stock=MOPS_ALL_2019(code,year,season,rid)

csvname=csvpath+'/'+code+'-'+year+'-'+'Q'+season+'.csv'
print('get data from:' ,stock.url)


df = stock.fetch_SES()
df.to_csv(csvname)


jsonname=csvpath+'/'+code+'-'+year+'-'+'Q'+season+'.json'
with open(jsonname, 'w', encoding='utf8') as f:
    json.dump(stock.Account, f)

df

get data from: https://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=1101&SYEAR=2019&SSEASON=3&REPORT_ID=C

,3110,3120,3130,3140,3150,3190,3100,3200,3310,3320,...,3300,3410,3420,3425,3450,3400,3500,31XX,36XX,3XXX
items,,,,,,,,,,,,,,,,,,,,,
A1,51080599,2000000,,,,,53080599,47836241,14784534,13049062,...,61588761,-5037221,24074566,0,1109,19038454,-2545,181541510,15837946,197379456
A3,0,0,,,,,0,,0,0,...,0,,,,,,,0,0,0
A4,0,0,,,,,0,,0,0,...,0,,,,,,,0,0,0
A5,51080599,2000000,,,,,53080599,47836241,14784534,13049062,...,61588761,-5037221,24074566,0,1109,19038454,-2545,181541510,15837946,197379456
B1,,,,,,,,,2118082,,...,0,,,,,,,0,,0
B3,,,,,,,,,,,...,,,,,,,,0,,0
B5,,,,,,,,,,,...,-16856367,,,,,,,-16856367,,-16856367
B7,,,,,,,,,,,...,-18219,,,,,,,-18219,,-18219
B9,3575593,,,,,,3575593,,,,...,-3575593,,,,,,,0,,0
C1,,,,,,,,,,,...,,,,,,,,0,,0
C3,,,,,,,,,,,...,,,,,,,,0,,0
C5,,,,,,,,,,,...,,,,,,,,0,,0
C7,,,,,,,,,,,...,,,,,,,,0,,0
D1,,,,,,,,,,,...,,,,,,,,0,,0
D3,,,,,,,,,,,...,,,,,,,,0,,0
D5,,,,,,,,,,,...,,,,,,,,0,,0
E1,0,0,,,,,0,468759,0,0,...,0,0,0,0,0,0,0,468759,0,468759
E3,,,,,,,,,,,...,,,,,,,,0,,0
F1,,,,,,,,,,,...,,,,,,,,0,,0
F3,,,,,,,,,,,...,,,,,,,,0,,0
H1,,,,,,,,,,,...,,,,,,,,0,,0
H3,0,0,0,0,0,0,0,,,,...,17719524,,,,,,,17719524,1185672,18905196
I1,0,0,0,0,0,0,0,,,,...,-119,-4958975,6143069,,-1813,1182281,,1182162,53643,1235805
I3,0,0,0,0,0,0,0,,,,...,17719405,-4958975,6143069,,-1813,1182281,,18901686,1239315,20141001
J1,,,,,,,,,,,...,,,,,,,,0,,0
J3,,,,,,,,,,,...,,,,,,,,0,,0
J5,,,,,,,,,,,...,,,,,,,,0,,0
K1,,,,,,,,,,,...,,,,,,,,0,,0
L1,,,,,,,,,,,...,,,,,,,,0,,0
L3,,,,,,,,,,,...,,,,,,,,0,,0
L5,,,,,,,,,,,...,,,,,,,,0,,0
L7,,,,,,,,,,,...,,,,,,,,0,,0
M1,,,,,,,,,,,...,,,,,,,,0,,0
M3,,,,,,,,,,,...,,,,,,,,0,,0
M5,,,,,,,,,,,...,,,,,,,,0,,0
M7,,,,,,,,,,,...,,,,,,,,0,,0
N1,,,,,,,,,,,...,,,,,,,-348959,-348959,0,-348959
O1,,,,,,,,,,,...,,,,,,,,0,,0
P1,,,,,,,,,,,...,,,,,,,,0,,0
Q1,,,,,,,,,,,...,,,,,,,,0,,0
T1,,,,,,,,,,,...,,,,,,,,0,,0
Y1,,,,,,,,,,,...,,,,,,,,0,,0
Z1,0,0,,,,,0,23,0,0,...,0,0,0,0,0,0,0,23,-146303,-146280